@model HNCJ.DY.Model.NewInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}

<h2>Details</h2>
@section content{
    <div style="margin-bottom:10px">
			<div>标题:</div>
			<input class="easyui-textbox" style="width:100%;height:32px" value="@Model.Title" readonly="true">
		</div>
     <div style="margin-bottom:10px">
			<div>作者:</div>
			<input class="easyui-textbox" style="width:100%;height:32px" value="@Model.Author" readonly="true">
		</div>
    <div style="margin-bottom:10px">
			<div>正文:</div>
			<div style="border:1px solid #95B8E7;border-radius:5px;padding:10px 10px;font-size:15px;">@Html.Raw(Model.Msg)</div>
		</div>
    

        @{var str = Model.Status == 1 ? "启用" : "未启用";}
        <div style="margin-bottom:10px">
			<div>状&nbsp;态:</div>
			<input class="easyui-textbox" style="width:100%;height:32px" value="@str" readonly="true">
		</div>
        <div style="margin-bottom:10px">
			<div>发布时间:</div>
			<input class="easyui-textbox" style="width:100%;height:32px" value="@Model.RegTime" readonly="true">
		</div>
    
    }