@model HNCJ.DY.Model.TopicInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}

<h2>Details</h2>
@section content{
    <div style="margin-bottom:10px">
			<div>主题名:</div>
			<input class="easyui-textbox" style="width:100%;height:32px" value="@Model.Title" readonly="true">
		</div>
     <div style="margin-bottom:10px">
			<div>正文:</div>
			<input class="easyui-textbox" style="width:100%;height:60px" value="@Model.Content" readonly="true" data-options="multiline:true">
		</div>
        <div style="margin-bottom:10px">
                <select class="easyui-combobox" name="Type" label="类型:" style="width:260px;"data-options="panelHeight:50">
                    <option value="1">置顶</option>
                    <option value="2">精华</option>
                    <option value="3">热门</option>
                    <option value="4">普通</option>
                </select>
		   </div>
        

    

        @{var str = Model.Status == 1 ? "启用" : "未启用";}
        <div style="margin-bottom:10px">
			<input class="easyui-textbox" style="width:100%;height:32px" value="@str" readonly="true" data-options="label:'状态:'">
		</div>
    <div style="margin-bottom:10px">
			<input class="easyui-textbox" style="width:100%;height:32px" value="@Model.ForumInfo.Name" readonly="true" data-options="label:'模块名:'">
		</div>
    <div style="margin-bottom:10px">
			<input class="easyui-textbox" style="width:100%;height:32px" value="@Model.UserInfo.UserName" readonly="true" data-options="label:'发帖人:'">
		</div>
        <div style="margin-bottom:10px">
			<div>发布时间:</div>
			<input class="easyui-textbox" style="width:100%;height:32px" value="@Model.RegTime" readonly="true">
		</div>
    
    }